@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
     text-decoration: none;
     list-style: none;
 }
 
 body{
     display: flex;
     flex-direction: column;
     margin: auto;
     max-width: 1900px;
     background: #232323;
 }
 header{
     position: fixed;
     display: flex;
     justify-content: space-between;
     padding: 0px 60px;
     top: 25px;
     width: 100%;
     align-items: center;
     z-index: 999;

 }
 header .box-nav-logo{
    display: flex;
    justify-content: flex-start;
    width: 30%;
    
 }
 header .box-nav-btn{
    display: flex;
    justify-content: flex-end;
    width: 30%;
 }
 header a h1 span{
     color: #ff7f00;
 }
 header a h1{
     color: #000000;
 }
 header nav{
     display: flex;
     flex-direction: row;
     width: 700px;
     gap: 60px;

 }
 header nav .menu-primario{
     display: block;
     flex-direction: row;
     width: 50%;
 }
 header nav .menu-primario ul{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     height: 100%;
     align-items: center;
     background: #232323;
     color: #fff;
 }
 header nav .menu-secundario{
     display: block;
     flex-direction: row;
     width: 50%;
 }
 header nav .menu-secundario ul{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     height: 100%;
     align-items: center;
     background: #ececec;
     color: #232323;
 
 }

 header nav .menu-primario ul{
    border: 1px solid #fff;
 }
 
 header nav .menu-primario ul li a{
    color: #fff;
    transition: .5s;
 }
 header nav .menu-secundario ul li a{
    color: #232323;
    font-weight: 400;
    transition: .5s;
 }

 header nav .menu-primario ul li a:hover,
 header nav .menu-secundario ul li a:hover{
    color: #ff7f00;
 }


 header nav .menu-secundario ul,
 header nav .menu-primario ul{
     height: 40px;  
     border-radius: 10px;
     font-size: 1.2rem;
     font-weight: 200;
     
 }
 header .botao-login{
    display: block;
    text-align: center;
    line-height: 40px;
    width: 140px;
    height: 40px;
    border-radius: 0px 10px 0px 10px;
    color: #fff;
    background: #ff7f00;
    font-size: 1.2rem;
    font-family:'Post No Bills Jaffna Bold';
    font-weight:bold;
 }
 .home{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
     height: 100vh;
 }
 .projeto{
     width: 100%;
     height: 100vh;
     background-color: #232323;
 }
 .sobre{
     width: 100%;
     height: 100vh;
     border: 1px solid rgb(0, 0, 0);
 }
 .mensagem_contato{
     width: 100%;
     height: 25vh;
     border: 1px solid rgb(191, 255, 0);
 }
 .contato{
     width: 100%;
     height: 100vh;
     border: 1px solid rgb(8, 0, 255);
 }
 
 .container{
     width: 100%;
     height: 100%;
 }

.home .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.home .img_personagem{
    position: absolute;
    width: 40%;
    bottom: 10px;
    z-index: 1;

}
.home .trianguloEscuro{
    top: 0;
    position: absolute;
    right: 0px;
    width: 37%;
}
.home .trianguloClaro{
    bottom: 0;
    position: absolute;
    left: 20px;
    width: 37%;
    z-index: 0;
}

.home .container .box_left{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #fff;
}
.home .container .box_left .conteudo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    width: 75%;
    height: 100%;
    gap: 30px;
    z-index: 2;
}

.home .container .box_left .conteudo .titulo_home{
    margin-top: 13%;
    text-align: center;
    font-size: 3rem;
    width: 65%;
    font-family:'Post No Bills Jaffna Bold';
    font-weight:bold;
}
.home .container .box_left .conteudo .titulo_home span{
    font-family:'Post No Bills Jaffna Bold';
    font-weight:bold;
}
.home .container .box_left .conteudo span{
    color: #ff7f00;
}
.home .container .box_left .conteudo .text{
    text-align: center;
    font-size: 1.2rem;
    width: 65%;
}

.home .container .box_left .conteudo .botoes{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#saiba_mais{
    display: block;
    text-align: center;
    line-height: 50px;
    width: 47%;
    height: 100%;
    border-radius: 10px 0px 10px 0px;
    background-color: #0051FF;
    color: #fff;
    font-weight: 600;
    font-size: larger;
    font-family: "Sofia Sans", sans-serif;
}
#cadastrar{
    display: block;
    text-align: center;
    line-height: 50px;
    width: 47%;
    height: 100%;
    border: 1px solid #ff7f00;
    border-radius: 10px 0px 10px 0px;
    color: #ff7f00;
    font-weight: 600;
    font-size: 1.2em;
    background-color: #fff;
    font-family: "Sofia Sans", sans-serif;
}




























.home .container .box_right{
    width: 50%;
    height: 100%;
    background-color: #232323;
}
